html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

header {
    background-image: url(/img/1.png);
    background-size: cover;
    background-position: center center;
}

img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

a {
    display: block;
    text-align: center;
    font-size: 5rem;
    text-decoration: none;
    color: white;
    margin: 2rem 0;
}

p {
    font-size: 2rem;
}

h1 {
    color: red;
    text-align: center;
    font-size: 6rem;
    margin: 0;
    padding: 3rem 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

.reseña {
    width: 80%;
    margin: 0 auto 2rem auto;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
}

.caja-grande {
    display: flex;
    justify-content: space-around;
}

.caja-chica {
    flex: 0 0 calc(50%);
}

.caja-chica h2 {
    margin-top: 2rem;
}

.discos {
    background-color: rgb(255, 151, 53);
}

.integrantes {
    background-color: aqua;
}

.galeria {
    display: flex;
}

.contenedor-img {
    flex: 0 0 25%;
}