html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
}

label {
    font-size: 2rem;
}

input {
    font-size: 1.6rem;
}

li {
    font-size: 2rem;
}

.container {
    background-color: antiquewhite;
    padding: 2rem 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}