html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* ,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

h2, p {
    margin: .5rem 0;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: .5rem;
    width: 100%;

}

img {
    width: 100%;
}

footer {
    height: 50vh;
}

a {
    text-decoration: none;
    color: blue;
}

.register {
    background-color: rgb(233, 232, 232, 0.8);
    text-align: center;
    border-radius: 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.description {
    height: 100px;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(242, 242, 242, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formDiv {
    padding: 1.5rem 0;
    width: 80%;
    margin: 0 auto;
}

.btn {
    width: 60%;
    background-color: rgb(170, 170, 170);
}

.btn:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.div-img {
    width: 50%;
    height: 200px;
    min-width: 350px;
    min-height: 150px;
    margin: 0 auto;
    display: flex;
}

.container {
    width: 100%;
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/e/37/interieur-restaurant-view.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

#btn-google {
    background-color: blue;
    color: whitesmoke;
}


#div-register-ok {
    height: 40vh;
    max-height: 300px;
    display: flex;
}

#titulo-register-ok {
    font-size: 6rem;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

#titulo-footer {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

#contenedor-titulo-footer {
    margin: 2rem auto 0 auto;
}

#contenedor-img {
    display: flex;
    width: 70%;
    min-width: 90%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

#img-1,#img-2 {
    align-self: center;
}

#btn-volver {
    display: flex;
    background-color: rgb(95, 103, 218);
    width: 180px;
    height: 40px;
    margin: 0 auto 10rem auto;
    border-radius: .3rem;
}

#link {
    color: aliceblue;
    font-size: 1.7rem;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
}

